@font-face {
    font-family: 'CenturyGothic';
    src: url('fontes/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothicBold';
    src: url('fontes/CenturyGothicBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'CenturyGothic', sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url(img/fundo_ball_colors.jpg);
    background-size: cover;
}

header {
    /*cabeçalho*/
    position: fixed;
    /*posição fixada*/
    top: 0;
    left: 0;
    width: 100%;
    /*100% da tela horizontal*/
    padding: 20px 100px;
    /*tamanho que ocupa*/
    display: flex;
    /* como um ítem será posicionado para no espaço disponível dentro de seu container*/
    justify-content: space-between;
    /*O primeiro item é nivelado com a borda de início principal, e o último item é nivelado com a borda de main-end (um em cada lado do counteiner)*/
    align-items: center;
    /*alinha o elemento ao centro do seu countainer*/
    z-index: 99;
    /* 99 faz com que esse elemento fique proximo da tela. z-index: 99;*/

}

.logo {
    font-size: 2em;
    /*font-size: 2em;   (2em = 32px)*/
    color: blueviolet;
    user-select: none;
    /*faz com que o usuario não consiga selecionar texto nenhum desse elemento*/
}

/* .navigation a {
     position: relative;
    /* deixa o elemento limitado dentro do elemento pai, nesse caso ele ficara limitado dentro do elemento com classe navigation*/
/* font-size: 1.1em; 
    /*tamanho da fonte*/
/* color: blueviolet;
    /*cor do elemento*/
/* text-decoration: none;
    /*sem nenhum tipo de linha/sublinhado no texto */
/*/* font-weight: 500;
    /*igual a negrito, quanto maior o número mais negrito na fonte*/
/* margin-left: 40px;
    /*da margem ao elemento, ele deixar separado em 40px*/
/* }  */

.countainer_1_2,
.wrapper1,
.wrapper2 {
    float: left;
}


.countainer_1_2 {
    background: url(img/EfeitoFosco.png);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    box-shadow: -80px 80px 100px rgba(0, 0, 0, 0.35);
}


.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.wrapper1 {
    width: 428px;
    height: 728px;
    border-radius: 30px 0 0 30px;
    background: linear-gradient(193.5deg, #FFFFFF 6.56%, rgba(255, 255, 255, 0) 99.28%, rgba(217, 217, 217, 0.1) 99.29%);
}

.btn-att {
    margin-top: 300px;
    margin-left: -50px;
}

.form-box_login_1 {
    /*formulario senha e login*/
    margin: 110px 50px 0 50px;
    /* 143 pixels para a parte superior TOP, uma margem de 60 pixels para a direita right, uma margem de 50 pixels para a parte inferior BUTTOM e uma margem de 328 pixels para a esquerda. */
    position: relative;
    width: 328px;
    height: 490px;
    align-items: center;
    color: #313056;
}

.form-box_login_1 btnLogin-popup {
    text-align: center;
    margin-top: 100px;
}


.form-box_login_1 h1 {
    text-align: center;
    font-family: 'CenturyGothic';
    text-align: center;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.1em;
}

.form-box_login_1 h2 {
    font-family: 'CenturyGothicBold';
    position: relative;
    margin-top: 150px;
    font-weight: 1000;
    font-size: 45px;
    line-height: 55px;
    color: #313056;
    letter-spacing: 0.1em;
}

.btnLogin-popup {
    margin-top: 110px;
    margin-right: 10px;
    margin-left: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.3em;
    color: #313056;
    width: 265px;
    height: 56px;
    background: linear-gradient(93.58deg, rgba(255, 255, 255, 0.72) 19.82%, rgba(255, 255, 255, 0) 95.52%);
    border: 0px solid rgba(255, 255, 255, 0.1);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 65px;

}

.wrapper1 .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
    transition: .5s;
}

.wrapper2 .btn:hover {
    background: #ffffff95;
    color: #162938;
    transition: .5s;
}

.hr1 {
    margin: 95px 1px;
    position: absolute;
    width: 132px;
    left: 1px;
    top: 180px;
    border: 2px solid #29294F;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}


.logar-sup {
    font-family: 'CenturyGothicBold';
    width: 235px;
    height: 65px;
    font-size: 24px;
    background: linear-gradient(91.14deg, rgba(255, 255, 255, 0.32) -37.57%, rgba(255, 255, 255, 0) 128.93%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    filter: drop-shadow(-10px 10px 20px rgba(0, 0, 0, 0.2));
    border-radius: 65px;
    letter-spacing: 0.1em;
}


.wrapper2 {
    /*background fosco da tela de login*/
    position: relative;
    width: 866px;
    height: 728px;
    /*background fosco da tela de login*/
    background: transparent;
    background: rgba(0, 35, 219, 0.1);

    backdrop-filter: blur(30px);
    border-radius: 0 30px 30px 0;
    display: flex;
    justify-content: center;
    background: url(img/EfeitoFosco.png);
    border-radius: 0px 30px 30px 0px;
}

.wrapper2 .logar-sup {
    position: absolute;
    width: 235px;
    height: 65px;
    left: 580px;
    background: linear-gradient(91.14deg, rgba(255, 255, 255, 0.32) -37.57%, rgba(255, 255, 255, 0) 128.93%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    filter: drop-shadow(-10px 10px 20px rgba(0, 0, 0, 0.2));
    border-radius: 65px;
    box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.cadastro{
    margin-top: 126px;
    margin-bottom: -11px;
   
}

.logar-sup {
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;
    color: #313056;
}


.wrapper2 .form-box_login_2 {
    /*formulario senha e login*/
    /* 143 pixels para a parte superior TOP, uma margem de 328 pixels para a direita right, uma margem de 50 pixels para a parte inferior BUTTOM e uma margem de 328 pixels para a esquerda. */
    width: 865px;  /* largura */
    height: 726px;  /* altura */
    align-items: center;
}


.form-box_login_2 h2 {
    font-size: 48px;
    /* igual 48px*/
    color: #313056;
    text-align: center;
    font-weight: 100;
    letter-spacing: 8px;
    margin-bottom: 42px;
}

.areaUseremail {
    display: block;
    margin-top: 70px;
    
}

.input-box {
    /*campo de login e senha digitação*/
    display: block; /* faz o elemento ocupar a linha tota */
    position: relative;
    width: 354px;
    height: 51.13px;
    margin: 0 auto; /* dizemos ao navegador que as margens superior e inferior são iguais a 0 e as da esquerda e direita são automáticas */
    margin-top: 24px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 65px;
    letter-spacing: 0.3em;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    font-size: 15px;
    color: #162938;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -15px;
}

.input-box input {
    position: absolute;
    width: 80%;
    height: 100%;
    right: 0px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;

}

.input-box .icon {
    position: relative;
    left: 20px;
    top: 15%;
    color: #162938;
}

.form-box_login_2 button {
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background: #29294F;
    border-radius: 65px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.60);
    border: none;
}

.btn {
    font-family: 'CenturyGothicBold';
    width: 231px;
    height: 65px;
    margin-bottom: 15px;
    font-size: 1.5em;
    /* 24px convertido */
    letter-spacing: 8px;
    /*font-size: 2em;   (2em = 32px)*/
    color: #fff;
    user-select: none;
    font-weight: 990;
}

.remember-forgot {
    margin-top: 32.93px;
    text-align: center;
    font-family: 'CenturyGothic';
    font-style: normal;
    font-size: 18px;
    color: #313056;
    
}

.login-register {
    text-align: center;

}

.wrapper2 .form-box_login_2 .redes_registro {
    text-align: center;
    margin-top: 20px;
}

.redes_registro a {
    text-align: center;
    width: 30px;
    height: 30px;
    border-width: 1px;
    border-color: none;
    border-style: none;
    display: inline-block
}

#tiktok {
    border-radius: 100px;
    margin-right: 43px;
    box-shadow: -1px 8px 20px rgba(0, 0, 0, 0.40);
}

#facebook {
    border-radius: 100px;
    box-shadow: -1px 8px 20px rgba(0, 0, 0, 0.40);
}

#twitter {
    border-radius: 100px;
    margin-left: 43px;
    box-shadow: -1px 8px 20px rgba(0, 0, 0, 0.40);
}

#tiktok {
    border-radius: 100px;
    margin-right: 43px;
    box-shadow: -1px 8px 20px rgba(0, 0, 0, 0.40);
}

#facebook {
    border-radius: 100px;
    box-shadow: -1px 8px 20px rgba(0, 0, 0, 0.40);
}

#gmail{
    color: #fff;
    border-radius: 100px;
    margin-left: 120px;
    box-shadow: -1px 8px 20px rgba(0, 0, 0, 0.40);
}

#telegram{
    border-radius: 100px;
    margin-left: 43px;
    box-shadow: -1px 8px 20px rgba(0, 0, 0, 0.40);
}

#whatsapp{
    border-radius: 100px;
    margin-left: 43px;
    box-shadow: -1px 8px 20px rgba(0, 0, 0, 0.40);
}